.Header {
  display: grid;
  grid-template-columns: auto 1fr;
  /* grid-template-rows: 1fr; */
  padding: 3vh;
  font-family: "Karla", sans-serif;
  /* font-size: 0.3rem; */
  justify-items: center;
  /* justify-content: right; */
  /* background-color: #df6565; */
}
.Main {
  display: grid;
}

.Nav {
  display: flex;
  font-size: large;
  grid-column-gap: 5vw;
  justify-items: center;
  justify-content: right;
  grid-auto-flow: row;
  text-emphasis-style: none;
}

a:link {
  color: #495e57;
  text-decoration: none;
}
a:visited {
  color: #495e57;
}
a:hover {
  color: #f4ce14;
}
a:active {
  background-color: yellow;
}

.img-wrap {
  width: auto;
  height: 5vh;
}

.img-wrap-hero {
  display: block;
  width: 50vw;
  height: auto;
  border-radius: 16px;
  border-color: aliceblue;
  border-bottom: 5px;
  border-top: 5px;
}

.CallToAction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  background-color: #495e57;
  padding: 40px;
  justify-items: center;
  justify-content: center;
  /* font-size: 0.5rem; */
  /* grid-auto-flow: column; */
}

.Header-text {
  font-size: 40px;
  font-family: "Markazi Text", serif;
  color: #f4ce14;
}
.Header-text-sub1 {
  font-size: 30px;
  font-weight: normal;
  font-family: "Karla", serif;
  color: #ffffff;
}
.hero-description {
  font-size: 18px;
  font-weight: lighter;
  font-family: "Karla", serif;
  color: #ffffff;
}
.Button {
  display: flex;
  font-size: 20px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  background-color: #f4ce14;
  padding: 10px;
  border-radius: 16px;
  /* justify-content: center;
  align-items: center; */
  /* width: 10rem;
  height: 4rem; */
  margin: auto;
}

.Specials {
  display: grid;
  grid-template-columns: 1fr;
  /* background-color: #df6565; */
  justify-items: center;
  justify-content: center;
  padding: 50px;
}
.Specials-flex {
  width: 1fr;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  align-items: center;
}
.Specials-flex > div {
  flex: 1 1;
}
.Specials-header {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-items: center;
  justify-content: center;
  /* background-color: #a8c72e; */
}

.main-text-title {
  font-size: 40px;
  font-weight: normal;
  font-family: "Karla", serif;
  color: #000000;
}

.center-content {
  display: flex;
  justify-content: center;
}
.container {
  text-align: center;
  width: 1fr;
  height: 1fr;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* grid-template-columns: 300px 300px 300px; */
  /* background-color: aqua; */
  grid-column-gap: 20px;
  justify-content: center;
  align-items: center;
}
.card-specials {
  display: grid;
  grid-template-columns: 30vw;

  justify-items: center;
  justify-content: center;
  background-color: #edefee;
}

.img-wrap-card {
  border-radius: 16px;
  padding-top: 10px;
  /* background-color: #df6565; */
}

.img-wrap-card img {
  display: block;
  /* justify-content: center; */
  width: auto;
  height: 70%;
  align-items: center;
}

.special-text-sub1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Karla", serif;
  color: #000000;
  padding-left: 10%;
}

.special-description {
  font-size: 18px;
  font-weight: lighter;
  font-family: "Karla", serif;
  color: #000000;
  padding-left: 10%;
  padding-right: 10%;
}
.price-tag {
  color: #df6565;
}

.Footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px;
  grid-column-gap: 50px;
  /* background-color: #495e57; */
  padding: 100px;
}

.img-wrap-footer {
  width: auto;
  height: 100%;
  border-radius: 16px;
  padding-top: 10px;
}
.footer-nav {
  display: grid;
  grid-template-rows: auto;
  font-size: 20px;
  font-weight: Bold;
  font-family: "Karla", serif;
  color: #ffffff;
}
.reservations {
  display: flex;
  justify-content: center;
  padding: 10vw;
  animation: intro-elements 1s ease-out;
}
.booking-form {
  display: grid;
  max-width: 200px;
  gap: 20px;
  padding: 10vw;
  background-color: #fff3b5;
  box-shadow: 2px 2px 10px 1px #495e57;
  z-index: 1;
}
.booking-form input {
  height: 3vh;
  box-shadow: 0.05rem 0.05rem 0.2rem #967f0d inset;
  border: none;
}
.booking-form label {
  text-align: center;
  color: #495e57;
  font-weight: bold;
}

.booking-form h1 {
  color: #495e57;
  text-align: center;
  text-shadow: #f4ce14 0.1rem 0 0.1rem;
}

.booking-form .form-button {
  display: block;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  background-color: #f4ce14;
  border-radius: 16px;
}
.form-button:hover {
  cursor: pointer;
  opacity: 80%;
}

/* The animation code */
@keyframes intro-elements {
  from {
    opacity: 0%;
    transform: scale(0.1);
  }
  to {
    opacity: 100%;
    transform: scale(1);
  }
}

.about {
  display: flex;
  margin: 10vh;
  animation: intro-elements 0.5s ease-out;
}
.about h1 {
  color: #f4ce14;
  font-size: 2rem;
  text-shadow: #495e57 0.1rem 0 0.1rem;
}
.about p {
  color: #495e57;
}

.hamburger-icon {
  display: none;
}
.CallToAction #image-for-hq {
  display: block;
}

.CallToAction .img-wrap-hero {
  display: none;
}

@media only screen and (max-width: 700px) {
  .CallToAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .CallToAction #image-for-hq {
    display: none;
  }

  .CallToAction .img-wrap-hero {
    display: block;
  }
  .CallToAction button {
    margin-top: 5vh;
  }
  .hamburger-icon {
    display: flex;
    justify-content: flex-start;
    column-gap: 30vw;
    padding-bottom: 10px;
  }
  .hamburger-icon .hamburger {
    display: block;
    /* width: 20vw; */
  }
  .hamburger-icon .logo {
    padding-top: 2vh;
    display: block;
    /* width: 20vw; */
  }

  .container-navbar {
    display: none;
  }
  #header-menu {
    display: none;
  }
  #container-navbar-side {
    display: flex;
    flex-direction: column;
    background-color: #c7c8c3;
    margin-bottom: 5%;
    animation: hamburger 1s;
  }
  #container-navbar-side img {
    display: none;
  }
  .Specials-header {
    display: flex;
    margin: 5vh;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .card-specials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Footer {
    display: flex;
    flex-direction: column;
    color: white;
  }
}
